<!DOCTYPE html>
<html>
  <head>
    <title>Amicci Joias</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1><img id="logo" src="<%= asset_path('logo.png') %>"></h1>
    <%= react_component('HelloWorld') %>
  <div>
    <button id="product-button">
    product
    </button>
  </div>
  </body>
</html>



