<!DOCTYPE html>
<html>
  <head>
    <title>Amicci Joias</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Welcome to My Rails App</h1>
    <%= react_component('HelloWorld') %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>



